<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">UTAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <i class="fa fa-home"></i></a>
      </li>
      {% if header == 'Home' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_email_task' %}">New email task <i class="fa fa-plus"></i></a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}} <i class="fa fa-user"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i>Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
